page-actualizamv {
//     @media (min-width: 1090px) {// Diseño parte WEB
//         ion-label{
//             font-weight: bold;
//             // border: 1px solid #ccc;
//             // border-radius: 4px;
//             width:155px;
//         }
//         ion-input{
//             border: 1px solid #ccc;
//             border-radius: 4px;
//             width:155px;
//         }
//         ion-select{
//             border: 1px solid #ccc;
//             border-radius: 4px;
//         }
//         // ion-col{
//         //     border: 1px solid #ccc;
//         //     border-radius: 4px;
//         //    }
//     }

//     @media (max-width: 1090px) {// Diseño parte móvil
//         ion-label{
//             font-weight: bold;
//             // border: 1px solid #ccc;
//             // border-radius: 4px;
//             width:85px;
           
//         }
//         ion-input{
//             border: 1px solid #ccc;
//             border-radius: 4px;
//             width:85px;
          
//         }
//         // ion-col{
//         //     border: 1px solid #ccc;
            
//         //    }
//   }

  

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }


    ion-scroll {
        min-height: 160px; 
        //height: auto;
        white-space: nowrap;
        //height: auto;
        //overflow: scroll;


            .scroll-content {
            padding: 0px !important;
            display: inline-block;

        }    
    }
    ion-select{
        border: 1px solid #ccc;
        border-radius: 4px;
        width:250px;
    }

    ion-label
    {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    // ion-col
    // {
    //    border: 1px solid #ccc;
    //    border-radius: 4px;
    // }
    // ion-input{
    //     border: 1px solid #ccc;
    //     border-radius: 4px;
    //     width: 50px
    // }

    ion-fab {
        position: relative;
      }






}
