<navbar mytext="Actualiza Máquina "></navbar>


<ion-content style="margin-top:75px">


    <cardexpandible title="Existencias">
        <ion-scroll scrollX="true" scrollY="true" direction="x" direction="y">
            <ion-card *ngFor="let rielexistencia of rielexistencias" >
                <ion-label> {{rielexistencia.riel}}</ion-label>
                <ion-input placeholder={{rielexistencia.existencias}}> </ion-input>
            </ion-card>  
            <button ion-button round>Guardar</button>
         </ion-scroll>
    </cardexpandible>

  
    <cardexpandible title="Productos">
        <ion-scroll scrollX="true" direction="x" direction="y">
             <ion-card *ngFor="let rielproducto of rielproductos">
                <ion-label> {{rielproducto.riel}}</ion-label>
                <ion-input placeholder={{rielproducto.producto}}> </ion-input>
              </ion-card> 
              <button ion-button round>Guardar</button>
        </ion-scroll>
    </cardexpandible>


    <cardexpandible title="Precios" style="margin-bottom:70px">
        <ion-scroll scrollX="true" scrollY="true">
            <ion-card *ngFor="let rielprecio of rielprecios">
                <ion-label> {{rielprecio.riel}}</ion-label>
                <ion-input placeholder={{rielprecio.precio}}> </ion-input>
            </ion-card> 
            <button ion-button round>Guardar</button>
        </ion-scroll>    
    </cardexpandible>
   

</ion-content>
