<ion-header  [scrollingHeader]='content'>
        <navbar></navbar>
</ion-header>

<ion-content >

  <!--PRODUCTOS-->
<cardexpandible title="Productos {{nombreMaquina}}" style="overflow-x: auto;" >
                <ion-scroll scrollX="true" style="height:775px;">
            <table>
            <tr>
            <th *ngFor="let prod of fila1productos">
            <ion-label>{{prod.key}}</ion-label>
            <ion-item >
                <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
                  item-content 
                  [(ngModel)]=prod.indice
                  [items]="ports"
                  itemValueField="label"
                  itemTextField="value"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            </th>
            </tr>
            
            <tr>
            <th *ngFor="let prod of fila2productos">
            <ion-label>{{prod.key}}</ion-label>
            <ion-item >
                <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
                  item-content 
                  [(ngModel)]=prod.indice
                  [items]="ports"
                  itemValueField="label"
                  itemTextField="value"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            </th>
            </tr>
            
            <tr>
            <th *ngFor="let prod of fila3productos">
            <ion-label>{{prod.key}}</ion-label>
            <ion-item >
                <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
                  item-content 
                  [(ngModel)]=prod.indice
                  [items]="ports"
                  itemValueField="label"
                  itemTextField="value"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            </th>
            </tr>
            
            <tr>
            <th *ngFor="let prod of fila4productos"> 
            <ion-label>{{prod.key}}</ion-label>
            <ion-item >
                <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
                  item-content 
                  [(ngModel)]=prod.indice
                  [items]="ports"
                  itemValueField="label"
                  itemTextField="value"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            </th>
            </tr>
            
            <tr>
            <th *ngFor="let prod of fila5productos">
            <ion-label>{{prod.key}}</ion-label>
            <ion-item >
                <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
                  item-content 
                  [(ngModel)]=prod.indice
                  [items]="ports"
                  itemValueField="label"
                  itemTextField="value"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            </th>
            </tr>
            
            <tr>
            <th *ngFor="let prod of fila6productos">
            <ion-label >{{prod.key}}</ion-label>
            <ion-item  >
                <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
                  item-content 
                  [(ngModel)]=prod.indice
                  [items]="ports"
                  itemValueField="label"
                  itemTextField="value"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            </th>
            </tr>
            </table>
                
            </ion-scroll>
</cardexpandible>

<!-- Existencias Precios -->
<actualiza>
</actualiza>

</ion-content>
