page-detallemv {
    

   
    

}


//fuera de la pagina
.toastCustom{
    .toast-wrapper{


   float:right;
    background-color:#f69406;
    opacity: 0.8;
    text-align:right;
    margin-right: 10px;
    width:250px;
    height: auto;
    border-radius: 20px !important;
}

.toast-message { 
    white-space: pre; 
} 


ion-card{
    border-radius: 10px;
}


}
