page-detallemv {
    .ion-button{
        color: #18703d;
    }
    

}
.toastCustom{
    .toast-wrapper{


   float:right;
    background-color:#18703d;//#f69406;
    opacity: 0.8;
    text-align:right;
    margin-right: 10px;
    width:150px;

    border-radius: 20px !important;
}
}
