<navbar mytext="Máquina"></navbar>



<ion-content style="margin-top:75px;">
        <!-- seleccion de la máquina -->
      <ion-card>
          <ion-item>
            <ion-label>Máquinas</ion-label>
            <ion-select [(ngModel)]="seleccion" interface="popover" (ionChange)="getalarmas(seleccion)"  (ionChange)="getcontables(seleccion)" (ionChange)="getgraficahora(seleccion)">
             <ion-option *ngFor="let maquina of maquinas" value="{{maquina.idMaquina}}">{{maquina.idMaquina}} - {{maquina.descripcion}}</ion-option>  
            </ion-select>
          </ion-item>
        </ion-card>
    

<!-- grafica producto-inventario -->
    <ion-card >
      <ion-card-header>
        Productos en inventario - {{seleccion}}
      </ion-card-header>
      <ion-card-content>
          <graficaproductosinventario></graficaproductosinventario>
      </ion-card-content>
     </ion-card>
     <!-- grafica producto-inventario -->
    
    <div style="justify-content:center;display:flex">
        <button ion-button round (click)="reiniciaInventario(seleccion)"> Reiniciar inventario</button>
        <button ion-button  round (click)= "actInfo()"> Actualizar Info Rieles</button>
    </div>

    <div style="justify-content:center;display:flex">
        <tacometroproductos></tacometroproductos> 
        <tacometroventas></tacometroventas>
    </div>
  
    <ion-card>
      <ion-card-header>
          Valor acumulado desde ultimo reincio - {{seleccion}}
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let contable of contables">{{contable.label}}: {{contable.value}} </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card-content>
     </ion-card> 

  <ion-card>
      <ion-card-header>
           #-{{seleccion}}
     </ion-card-header>
     <ion-card-content>
        <ventaxhoramaquina></ventaxhoramaquina>
    </ion-card-content>
  </ion-card>

    <ion-card>
        <ion-card-header>
            Venta Global - {{seleccion}}
        </ion-card-header>
        <ion-card-content>
            <ventaxdiamaquina></ventaxdiamaquina>
        </ion-card-content>
    </ion-card> 

      <!-- graficas fusioncharts -->
<!-- <ion-card style="margin-bottom:70px">
    <div>
        <fusioncharts
          [type]="type"
          [width]="width"
          [height]="height"
          [dataSource]="dataSource"
        ></fusioncharts>
      </div>
    </ion-card> -->
      <!-- graficas fusioncharts -->




  <!-- <ion-fab right top>
      <button ion-fab color="primary"><ion-icon name="calculator"></ion-icon></button>
      <ion-fab-list side="top">
        <ion-card>
          <br>
          La maquina actual es: {{seleccion}}<br></ion-card>
     
      </ion-fab-list>
    </ion-fab> -->
</ion-content>
