page-catmaquinas {
    ion-label{
        background:#18703d;
        color:#fff;
        padding:10px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        
    }

    ion-textarea{
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        
    }


    ion-input{
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
  
      
    }
    .map-container2 {
        // position: absolute;
        // top: 10px;
        bottom: 0px;
        width: 100%;
        height: 400px;
    }

    ion-fab {
        position: relative;
      }

      
      ion-select{
        // width: 100%;
        // max-width: 100% !important;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
 

    ion-checkbox{
        border: 1px solid #ccc;
        border-radius: 4px;

    }

    ion-item.item-checkbox {
        padding-left: 0;
    }



    ion-scroll {
        min-height: 160px; 
        //height: auto;
        white-space: nowrap;
        //height: auto;
        //overflow: scroll;


            .scroll-content {
            padding: 0px !important;
            display: inline-block;

        }    
    }

   
  
      
}