<ion-header  [scrollingHeader]='content'>
        <navbar></navbar>
</ion-header>

<ion-content >

    <!-- Datos generales maquinas -->
    <ion-card style="border-radius: 10px">
        <ion-card-header style="color:#ffffff;background-color: #242b5f;border-radius: 10px;">
            <i class="fas fa-calculator"></i><b> Datos Generales Máquina</b>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                        <!-- <ion-col col-auto col-sm-6>
                                <ion-item>
                                    <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Latitud*</ion-label>
                                    <ion-input  placeholder="Latitud*" type="number" [(ngModel)]="Latitud"></ion-input>
                                </ion-item> -->
                            <!-- </ion-col> -->
                    <ion-col col-auto>
                        <ion-item>
                            <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Descripcion*</ion-label>
                            <ion-input  placeholder="Descripcion*"  [(ngModel)]="descripcion" [disabled]="inputsdisabled"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row><ion-row>
                    <ion-col col-auto>
                            <ion-label>Tipo</ion-label>
                            </ion-col>
                            <ion-col>

                        <ion-list>
                            <ion-item>
                                    <!-- <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Tipo*</ion-label> -->
                                    <!-- <ion-label>Tipo</ion-label> -->

                                    <ion-select [(ngModel)]="tipo" okText="Aceptar" cancelText="Cancelar" interface="popover" placeholder="Tipo Máquina" [disabled]="inputsdisabled" style="width: 100%;max-width: 100% !important;font-size: 16px;font-weight: bold;border: 1px solid #ccc;border-radius: 4px;">
                                        <ion-option *ngFor="let tipo of selectTipoMaquina" value="{{tipo.value}}"> {{tipo.label}}</ion-option>
                                    </ion-select>
                            </ion-item>
                        </ion-list>  
                    </ion-col> 
                </ion-row>
                    <ion-row>
              
                        <ion-col>
                            <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Modelo*</ion-label>
                        </ion-col>
                        <ion-col col-auto>

                        <ion-list>
                            <ion-item>

                                    <ion-select [(ngModel)]="modelo"   okText="Aceptar" cancelText="Cancelar" interface="popover" placeholder="Modelo" [disabled]="inputsdisabled" style="width: 100%;max-width: 100% !important;font-size: 16px;font-weight: bold;border: 1px solid #ccc;border-radius: 4px;">
                                        <ion-option *ngFor="let modelo of selectModeloMaquina" value="{{modelo.value}}"> {{modelo.label}}</ion-option>
                                    </ion-select>
                            </ion-item>         
                        </ion-list>                       
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col col-auto>
                        <ion-item>
                            <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Direción*</ion-label>
                            <ion-textarea  placeholder="Dirección*" [(ngModel)]="direccion" [disabled]="inputsdisabled"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div style="justify-content:center;display:flex">
                <ion-fab middle center >
                    <button ion-fab mini color="verde">  <i class="fas fa-chevron-left"></i></button>
                        <ion-fab-list side="left">
                            <button ion-fab color="danger" (click)="eliminarMaquina()" [hidden]="buttonUpdDelhidden"><i class="fa fa-trash" aria-hidden="true" ></i> </button>
                            <button ion-fab color="azul" (click)="guardarmaquina()"[hidden]="buttonSavehidden"> <i class="fas fa-save    "></i>   </button>
                            <button ion-fab color="azul" (click)="modificar()" [hidden]="buttonUpdDelhidden" > <i class="fas fa-edit    "></i>  </button>
                            <button ion-fab color="azul" (click)="nuevamaquina()"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
                        </ion-fab-list>
                </ion-fab>
            </div> 
        </ion-card-content>
    </ion-card>

    <!-- USUARIOS -->
    <ion-card style="border-radius: 10px" [hidden]="cardshidden">
        <ion-card-header style="color:#ffffff;background-color: #242b5f;border-radius: 10px;">
            <i class="fas fa-users"></i><b> Usuarios</b>
        </ion-card-header>
         <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-auto col-sm-6>
                        <ion-list>
                            <ion-item>
                                <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;" > Asignados*</ion-label>
                                    <ion-select [(ngModel)]="asignados"   okText="Aceptar" cancelText="Cancelar"  placeholder="Selecciona" multiple="true">
                                         <ion-option *ngFor="let usuario of infoasignados" value="{{usuario.value}}"> {{usuario.label}}</ion-option>
                                    </ion-select>
                            </ion-item>                    
                        </ion-list>  
                    </ion-col>
                    <ion-col col-auto col-sm-6>
                        <ion-list>
                            <ion-item>
                                <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> No asignados*</ion-label>
                                    <ion-select [(ngModel)]="noasignados" okText="Aceptar" cancelText="Cancelar"  placeholder="Selecciona" multiple="true">
                                        <ion-option *ngFor="let noasignado of infonoasignados" value="{{noasignado.value}}"> {{noasignado.label}}</ion-option>
                                    </ion-select>
                            </ion-item>                    
                        </ion-list>  
                    </ion-col>
                </ion-row>

                </ion-grid>
                    <div style="justify-content:center;display:flex">
                        <button ion-button round (click)="desasigna()" ><i class="fas fa-user-minus"></i></button>
                        <button ion-button round (click)="asigna()"> <i class="fas fa-user-plus"></i></button>
                    </div>
        </ion-card-content>
    </ion-card> 

    <!-- ubicacion -->
    <!-- <ion-card style="border-radius: 10px;" [hidden]="cardshidden"> -->
    <ion-card style="border-radius: 10px;">
        <ion-card-header style="color:#ffffff;background-color: #242b5f;border-radius: 10px;">
            <i class="fas fa-map-marker-alt"></i><b>Ubicación</b>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-auto col-sm-6>
                        <ion-item>
                            <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Latitud*</ion-label>
                            <ion-input  placeholder="Latitud*" type="number" [(ngModel)]="Latitud"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-auto col-sm-6>
                        <ion-item>
                            <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Longitud*</ion-label>
                            <ion-input  placeholder="Longitud*" type="number" [(ngModel)]="Longitud"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <div style="justify-content:center;display:flex">
                <button ion-button round  (click)="updUbicacion()"> <i class="fas fa-edit    "></i> Modificar  </button>
            </div>
         
            <div id="mapId" class="map-container2" style="width: 100%; height: 400px;border-radius: 20px;">
            </div>
        </ion-card-content>
    </ion-card>

    <!-- MÁXIMOS -->
    <cardexpandible title="Máximos" style="overflow-x: auto;" [hidden]="cardshidden"><!--TABLA PRECIOS-->
        <ion-scroll scrollX="true" style="height:600px;">
            <table>
                <tr ><!--FILA 1-->
                <th *ngFor="let prod of fila1maximos">
                    <ion-item>
                            <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                            <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"   type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57" [disabled]=disabledinputsmaximos> </ion-input>
                    </ion-item>
                </th>
                </tr>

                <tr ><!--FILA 2-->
                    <th *ngFor="let prod of fila2maximos">
                        <ion-item>
                                <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"   type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57" [disabled]=disabledinputsmaximos> </ion-input>
                        </ion-item>
                    </th>
                </tr>

                <tr ><!--FILA 3-->
                    <th *ngFor="let prod of fila3maximos">
                        <ion-item>
                                <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"   type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57" [disabled]=disabledinputsmaximos> </ion-input>
                        </ion-item>
                    </th>
                </tr>

                <tr ><!--FILA 4-->
                    <th *ngFor="let prod of fila4maximos">
                        <ion-item>
                                <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"   type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57" [disabled]=disabledinputsmaximos> </ion-input>
                        </ion-item>
                    </th>
                </tr>

                <tr ><!--FILA 5-->
                    <th *ngFor="let prod of fila5maximos">
                        <ion-item>
                                <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"   type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57" [disabled]=disabledinputsmaximos> </ion-input>
                        </ion-item>
                    </th>
                </tr>

                <tr ><!--FILA 6-->
                    <th *ngFor="let prod of fila6maximos">
                        <ion-item>
                                <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"   type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57" [disabled]=disabledinputsmaximos> </ion-input>
                        </ion-item>
                    </th>
                </tr>
            </table>
        
            <div style="justify-content:left;display:flex">
                <ion-fab bottom left >
                    <button ion-fab mini color="verde">  <i class="fas fa-chevron-right"></i></button>
                        <ion-fab-list side="right">
                            <button ion-fab color="azul" (click)="modificarMaximos()" ><i class="fas fa-edit"></i>  </button>
                            <button ion-fab color="azul" (click)="guardarMaximos()"><i class="fas fa-save"></i>   </button>
                        </ion-fab-list>
                </ion-fab>
            </div> 
        </ion-scroll>        
    </cardexpandible>

    <!--PRODUCTOS-->
    <cardexpandible title="Productos" style="overflow-x: auto;" [hidden]="cardshidden">
        <ion-scroll scrollX="true" style="height:775px;">
    <table>
    <tr>
    <th *ngFor="let prod of fila1productos">
    <ion-label>{{prod.key}}</ion-label>
    <ion-item >
        <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
          item-content 
          [(ngModel)]=prod.indice
          [items]="ports"
          itemValueField="label"
          itemTextField="value"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
    </ion-item>
    </th>
    </tr>
    
    <tr>
    <th *ngFor="let prod of fila2productos">
    <ion-label>{{prod.key}}</ion-label>
    <ion-item >
        <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
          item-content 
          [(ngModel)]=prod.indice
          [items]="ports"
          itemValueField="label"
          itemTextField="value"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
    </ion-item>
    </th>
    </tr>
    
    <tr>
    <th *ngFor="let prod of fila3productos">
    <ion-label>{{prod.key}}</ion-label>
    <ion-item >
        <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
          item-content 
          [(ngModel)]=prod.indice
          [items]="ports"
          itemValueField="label"
          itemTextField="value"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
    </ion-item>
    </th>
    </tr>
    
    <tr>
    <th *ngFor="let prod of fila4productos"> 
    <ion-label>{{prod.key}}</ion-label>
    <ion-item >
        <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
          item-content 
          [(ngModel)]=prod.indice
          [items]="ports"
          itemValueField="label"
          itemTextField="value"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
    </ion-item>
    </th>
    </tr>
    
    <tr>
    <th *ngFor="let prod of fila5productos">
    <ion-label>{{prod.key}}</ion-label>
    <ion-item >
        <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
          item-content 
          [(ngModel)]=prod.indice
          [items]="ports"
          itemValueField="label"
          itemTextField="value"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
    </ion-item>
    </th>
    </tr>
    
    <tr>
    <th *ngFor="let prod of fila6productos">
    <ion-label >{{prod.key}}</ion-label>
    <ion-item  >
        <ionic-selectable  style=" width: 100%;max-width: 100% !important;"
          item-content 
          [(ngModel)]=prod.indice
          [items]="ports"
          itemValueField="label"
          itemTextField="value"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
    </ion-item>
    </th>
    </tr>
    </table>
        
    </ion-scroll>
    </cardexpandible>

    <!-- IGNORADOS -->
    <cardexpandible title="Ignorados" style="overflow-x: auto;" [hidden]="cardshidden">
        <ion-scroll scrollX="true" style="height:475px;">
              <table>
                    <tr >
                            <th *ngFor="let prod of fila1ignorados" >
                                    <ion-item style="padding:0px !important;">
                                            <ion-label>Riel {{prod.key}}: </ion-label>
                                            <ion-checkbox item-right [disabled]=disabledCheckboxignorados  [(ngModel)]="prod.value" checked="prod.value" > </ion-checkbox>
                                    </ion-item>
                            </th>
                    </tr>
                    <tr >
                            <th *ngFor="let prod of fila2ignorados"  >
                                    <ion-item style="padding:0px !important;">
                                            <ion-label>Riel {{prod.key}}: </ion-label>
                                            <ion-checkbox item-right [disabled]=disabledCheckboxignorados  [(ngModel)]=prod.value  ></ion-checkbox>
                                    </ion-item>
                            </th>
                    </tr>
                    <tr >
                            <th *ngFor="let prod of fila3ignorados"  >
                                    <ion-item style="padding:0px !important;">
                                            <ion-label>Riel {{prod.key}}: </ion-label>
                                            <ion-checkbox item-right [disabled]=disabledCheckboxignorados  [(ngModel)]=prod.value ></ion-checkbox>
                                    </ion-item>
                            </th>
                    </tr>
                    <tr >
                            <th *ngFor="let prod of fila4ignorados"  >
                                    <ion-item style="padding:0px !important;">
                                            <ion-label>Riel {{prod.key}}: </ion-label>
                                            <ion-checkbox item-right [disabled]=disabledCheckboxignorados [(ngModel)]=prod.value ></ion-checkbox>       
                                    </ion-item>                
                            </th>
                    </tr>    
                    <tr >
                            <th *ngFor="let prod of fila5ignorados" >
                                    <ion-item style="padding:0px !important;">
                                            <ion-label>Riel {{prod.key}}: </ion-label>
                                            <ion-checkbox item-right [disabled]=disabledCheckboxignorados  [(ngModel)]=prod.value ></ion-checkbox>
                                    </ion-item>
                            </th>
                    </tr>
                    <tr >
                            <th *ngFor="let prod of fila6ignorados"  >
                                    <ion-item style="padding:0px !important;">
                                        <ion-label>Riel {{prod.key}}: </ion-label>
                                        <ion-checkbox item-right [disabled]=disabledCheckboxignorados  [(ngModel)]=prod.value ></ion-checkbox>
                                    </ion-item>
                            </th>
                        </tr>
                </table>
        
                <div style="justify-content:left;display:flex">
                    <ion-fab bottom left >
                        <button ion-fab mini color="verde">  <i class="fas fa-chevron-right"></i></button>
                            <ion-fab-list side="right">
                                <button ion-fab color="azul" (click)="modificarIgnorados()" ><i class="fas fa-edit"></i>  </button>
                                <button ion-fab color="azul" (click)="guardarIgnorados()"><i class="fas fa-save"></i>   </button>
                            </ion-fab-list>
                    </ion-fab>
                </div> 
            </ion-scroll>        
    </cardexpandible>     

    <!-- Info Módem -->
    <ion-card style="border-radius: 10px" [hidden]="cardshidden">
        <ion-card-header style="color:#ffffff;background-color: #242b5f;border-radius: 10px;">
            <i class="fas fa-sim-card"></i><b> Info Módem</b>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-auto col-sm-6>
                        <ion-item>
                            <ion-label  fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> ID Módem*</ion-label>
                            <ion-input  placeholder="ID Módem*"  [(ngModel)]="idMaquina" disabled></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-auto col-sm-6>
                        <ion-item>
                            <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Password WEB*</ion-label>
                            <ion-input  placeholder="Password WEB*"  [(ngModel)]="password"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            
                <ion-row>
                        <ion-col col-auto col-sm-6>
                            <ion-item>
                                <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Télefono*</ion-label>
                                <ion-input  placeholder="Télefono*"  type="number" [(ngModel)]="telefono"></ion-input>
                            </ion-item>
                        </ion-col>
                
                        <ion-col col-auto col-sm-6>
                            <ion-item>
                                <ion-label fixed style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;"> Expiracion*</ion-label>
                                <ion-input  placeholder="dd/mm/aaaa" [(ngModel)]="expiracion"></ion-input>
                            </ion-item>
                        </ion-col>
                </ion-row>
            </ion-grid>
            
            <div style="justify-content:center;display:flex">
                <button ion-button round (click)="modificainfomodem()"> Guardar </button>
            </div>
        </ion-card-content>
    </ion-card> 

      <!-- paginacion -->
    <ion-list >
            <ion-item>
            <ion-select [(ngModel)]="numpagina" (ionChange)="pagina(numpagina)"  okText="OK" cancelText="Cancelar" placeHolder="Paginación" interface="popover" placeholder="Paginación" >
                <ion-option value=5>5</ion-option>
                <ion-option value=10>10</ion-option>
                <ion-option value=15>15</ion-option>
                <ion-option value=20>20</ion-option>
            </ion-select>
            </ion-item>
    </ion-list>
    
    <!-- Tabla -->
    <ion-card style="overflow-x: auto;">
    <ng2-smart-table [settings]="settings" [source]="source" 
     (custom)="cargarDatos($event)"
     (deleteConfirm)="onDeleteConfirm($event)" 
     (editConfirm)="onSaveConfirm($event)"
     (createConfirm)="onCreateConfirm($event)"> <ion-scroll scrollX="true" style="height: 2800px;"></ion-scroll></ng2-smart-table>
    </ion-card>

</ion-content>
