page-login  {

  @media (max-width: 768px) {// Diseño parte móvil
      ion-card.card{
      background: rgba(255, 255,255,0.6px);
      border-radius: 10%;
      box-shadow: none;
      width: 90%;
      margin: auto;
      margin-top: 50px;
      display: block;
  }
}

@media (min-width: 768px) {// Diseño parte WEB
    ion-card.card{
      background: rgba(255, 255,255,0.6px);
      border-radius: 10%;
      box-shadow: none;
      width: 45%;
      margin: auto;
      margin-top: 50px;
      display: block;
  }
}
  
    .background{ 
        background: linear-gradient(25deg,#23733c,#0a113d,#ffffff,#000000);
        background-size: 400% 400%;
        animation:colorchange 60s ease-out infinite;
    }
    @keyframes colorchange {
        0%{background-position: 0% 99%}
        50%{background-position:100 % 1%}
        100%{background-position: 10% 90%}
    }

    .scroll-content{
        align-content: center;
        flex-direction: column; 
        justify-content: center;
        text-align: center;
    }

    // ion-card.card{
    //     background: rgba(255, 255,255,0.6px);
    //     border-radius: 10%;
    //     box-shadow: none;
    //     width: 45%;
    //     margin: auto;
    //     margin-top: 50px;
    //     display: block;
    // }



    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
     }
   
    img 
    {
        // margin-top: 70px;
        // border-radius: 200px,200px,200px,200px;
         display:block;
         margin:auto;
        // width: 150px;
    }

    input[type=password],  input[type=text]
    {
      background: rgba(255, 255,255,0.6px);
      background-color: #fff;
      border:none;
      color: #535353;
      padding: 15px 32px;
      text-decoration: none;
      font-size: 16px;
      margin: 5px;
      width: 100%;
      border:2px solid #f6f6f6;
      height: 35px;
      text-align: center;
      margin:0 auto;
      border-radius: 20px;
    }

    .item{
        background: rgba(255, 255,255,0.6px);
        margin-bottom: 10px;
        //border: medium none;
        border-radius: 20px;
    }

    //INICIA XPEND-IT FLIP------------------------------------------------
    @import url('https://fonts.googleapis.com/css?family=Roboto:700');
    #container {
      color:#fff;
      //text-transform: uppercase;
      text-align:center;
      font-size:28px;
      font-weight:bold;
      //padding-top:200%;  
      //position:fixed;
      width:100%;
      bottom:45%;
      display:block;
    }
    
    
    //---------------------------------TERMINA XPEND-IT FLIP
    button{
      background:#18703d;
      color:#fff;
      border:none;
      position:relative;
      height:60px;
      font-size:1.6em;
      padding:0 2em;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
      width:30%;
    }
    button:hover{
      background:#fff;
      color:#fff;
    }
    button:before,button:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #fff;
      transition:400ms ease all;
    }
    button:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    button:hover:before,button:hover:after{
      width:100%;
      transition:800ms ease all;
    }
  }

  