actualiza {

    // ion-label{
    //     background:#18703d;
    //    // color:#fff;
    //     padding:10px;
    //     border-radius: 10px;
    //     font-size: 16px;
    //     font-weight: bold;        
    // }

    ion-input{
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 60px
    }

    ion-fab {
        position: relative;
      }


      ion-scroll {
        min-height: 160px; 
        //height: auto;
        white-space: nowrap;
        //height: auto;
        //overflow: scroll;


            .scroll-content {
            padding: 0px !important;
            display: inline-block;

        }    
    }
}
