<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
 
<!--TABLA EXISTENCIAS-->
<cardexpandible title="Existencias {{nombreMaquina}}" style="overflow-x: auto;">
        <ion-scroll scrollX="true" style="height:600px;">
                <div>
                        <table class="w3-table" style="display: inline-block">
                                <tr><!--FILA 1----------------->
                                <th *ngFor="let prod of fila1existencias"> <!--riel -->
                                        <ion-item>
                                                <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        ">Riel {{prod.key}}: </ion-label>
                                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                        </ion-item>
                                </th>

                                <tr><!--FILA 2----------------->
                                <th *ngFor="let prod of fila2existencias"> <!--riel -->
                                        <ion-item>
                                        <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        ">Riel {{prod.key}}: </ion-label>
                                        <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                        </ion-item>
                                </th>

                                <tr><!--FILA 3----------------->
                                <th *ngFor="let prod of fila3existencias"> <!--riel -->
                                        <ion-item>
                                        <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        ">Riel {{prod.key}}: </ion-label>
                                        <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                                </th>


                                <tr><!--FILA 4----------------->
                                <th *ngFor="let prod of fila4existencias"> <!--riel -->
                                        <ion-item>
                                        <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        ">Riel {{prod.key}}: </ion-label>
                                                <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                                </th>

                                <tr><!--FILA 5----------------->
                                        <th *ngFor="let prod of fila5existencias"> <!--riel -->
                                        <ion-item>
                                        <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        ">Riel {{prod.key}}: </ion-label>
                                        <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                        </ion-item>
                                </th>

                                <tr><!--FILA 6----------------->
                                <th *ngFor="let prod of fila6existencias"> <!--riel -->
                                        <ion-item>
                                        <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        ">Riel {{prod.key}}: </ion-label>
                                        <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                                </th>
                        </table>
                </div>
        
                <div style="justify-content:left;display:flex">
<!--BOTONES-->
                <ion-fab bottom left >
                        <button ion-fab mini color="verde">  <i class="fas fa-chevron-right"></i></button>
                        <ion-fab-list side="right">
                                <button ion-fab color="azul" (click)="modificarExistencia()" ><i class="fas fa-edit"></i>  </button>
                                <button ion-fab color="azul" (click)="guardarExistencia()"><i class="fas fa-save"></i>   </button>    
                        </ion-fab-list>

                </ion-fab>
                </div> 
        </ion-scroll>
</cardexpandible>

<!--TABLA PRECIOS-->
<cardexpandible title="Precios {{nombreMaquina}}" style="overflow-x: auto;">
        <ion-scroll scrollX="true" style="height:575px;">
                <table class="w3-table">
                        <tr><!--FILA 1----------------->
                                <th *ngFor="let prod of fila1precios"> <!--riel -->
                                <ion-item>
                                        <ion-label  style="background: #18703d; color:#fff;padding:10px;border-radius: 10px;font-size: 16px;font-weight: bold;        " floating>Riel {{prod.key}}: </ion-label>
                                        <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                        </th>

                        <tr><!--FILA 2----------------->
                        <th *ngFor="let prod of fila2precios"> <!--riel -->
                                <ion-item>
                                      <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        "floating>Riel {{prod.key}}: </ion-label>
                                      <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                        </th>


                        <tr><!--FILA 3----------------->
                        <th *ngFor="let prod of fila3precios"> <!--riel -->
                                <ion-item>
                                      <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        "floating>Riel {{prod.key}}: </ion-label>
                                      <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                        </th>


                        <tr><!--FILA 4----------------->
                        <th *ngFor="let prod of fila4precios"> <!--riel -->
                                <ion-item>
                                      <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        "floating>Riel {{prod.key}}: </ion-label>
                                      <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                        </th>


                        <tr><!--FILA 5----------------->
                        <th *ngFor="let prod of fila5precios"> <!--riel -->
                                <ion-item>
                                      <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        "floating>Riel {{prod.key}}: </ion-label>
                                      <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                        </th>


                        <tr><!--FILA 6----------------->
                        <th *ngFor="let prod of fila6precios"> <!--riel -->
                                <ion-item>
                                      <ion-label  floating style="background: #18703d; color:#fff;border-radius: 5px;font-size: 16px;font-weight: bold;        "floating>Riel {{prod.key}}: </ion-label>
                                      <ion-input style="border:1px solid #ccc;border-radius: 4px;width: 60px"  type="number" [(ngModel)]="prod.value" min="0" onkeypress="return event.charCode >= 48  && event.charCode <= 57"  [disabled]=disabledinputsExistencias ></ion-input>
                                </ion-item>
                        </th>
                </table>
        </ion-scroll>
</cardexpandible>
