.theme-dark {
    ion-content {
      background-color: #0a113d;
      color: #fff;
    }
   
    .toolbar-title {
      color: #fff;
    }
   
    .header .toolbar-background {
      border-color: #ff0fff;
      background-color: #090f2f;
      color: #fff;
    }

    .list{
      background-color: #090f2f;
      color: #fff;
    }
    .card{
      background-color: #fff;
      color: #0a113d;
    }
    .select{
      background-color: #090f2f;
      color: #fff;

    }
  }  