page-catusuarios {

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }


    ion-scroll {
        min-height: 160px; 
        //height: auto;
        white-space: nowrap;
        //height: auto;
        //overflow: scroll;


            .scroll-content {
            padding: 0px !important;
            display: inline-block;

        }    
    }

    ion-label{
        background:#18703d;
        color:#fff;
        padding:10px;
        border-radius: 10px;
    }
    ion-input{
        border: 1px solid #ccc;
        border-radius: 4px;
  
      
    }
    ion-fab {
        position: relative;
      }

      :host /deep/ ng2-st-tbody-edit-delete {display: flex !important;
        height: 0 !important;
      }
      
      :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
        display: inline-block;
        width: 50px;
        text-align: center;
        font-size: 1.1em;
      }
      
      :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
        color: #5dcfe3;
      }
    
      // ng2-smart-table {
      //   font-size: 25px;
      // }

}
