page-catusuarios {

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }


    ion-scroll {
        min-height: 160px; 
        //height: auto;
        white-space: nowrap;
        //height: auto;
        //overflow: scroll;


            .scroll-content {
            padding: 0px !important;
            display: inline-block;

        }    
    }

    ion-label{
        // background:#18703d;
        color:#18703d;
        font-size: 20px;
        font-weight: bold;
        

        // padding:10px;
        border-radius: 10px;
    
    }

    .item-input .label-md{
        color: #18703d;
        font-weight: bold;
        font-size: 20px;
}



    ion-input{
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
  
      
    }
    ion-fab {
        position: relative;
      }
      ion-select{
        width: 100%;
        max-width: 100% !important;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

     


}



